/*Blog css*/

.wholepage {
		max-width:960px;
		min-width:585px;
		padding-top:20px;
		overflow:hidden;
		padding-bottom:10px;
		margin:auto;
		border:2px dotted bisque;
		background-color:gray;

}

.contentcolumn {
	position:relative;
	float:left;
	width:65%;
	height:1000px;
	margin-left:6%;

	padding-bottom:20px;
	min-width:520px;
	background-color:beige;

}

.topbox {
	position:relative;
	background-color:#2ecc71;
	height:10%;
	min-height:200px;
}

.toptext {
	position:absolute;
	bottom:5%;
	left:5%;
	color:white;
	font-size:125%;
	font-style:bold;
}

.navbar {
	text-align:right;
	background-color:blue;
	display:inline-block;
	border-top:10px solid green;
	width:100%;
	min-width:520px;
}

.clean {
	text-decoration:none;
	padding-bottom:1px;
	color:gray;
}

.hlist {
	list-style-type:none;
	padding-left:5%;
	padding-right:5%;
}

.hlist li {
	display:inline-block;
	padding-left:15px;
	padding-bottom:1px;
	font-style:bold;
}

/*<!---------BODY CONTENT----------->*/

.content {
	width:95%;
	margin:auto;
	padding-top:2%;
}

p {
	text-align:justify;
}





